.root {
  flex: 1;

  background-color: hsl(var(--surface-hsl));
  border-radius: var(--medium-shape);

  padding: 2rem;
}

.group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &._center {
    justify-content: center;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: var(--headline-m-fs);
  font-weight: 500;
}

.content {
  padding-top: 1.5rem;

  &._center {
  display: grid;
    place-items: center;
  }
}
