.button {
  --_clr: var(--primary-hsl);
  --_bg-clr: transparent;

  position: relative;
  overflow: hidden;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: hsla(var(--_clr));
  background-color: hsla(var(--_bg-clr));

  padding: 0.5rem 1.3rem;

  border-radius: 40px;

  transition: 200ms ease;

  &[type="submit"] {
    gap: 0;
  }

  svg {
    fill: hsla(var(--_clr));

    transition: 200ms ease;
  }

  &._icon {
    padding: 0.5rem;
  }

  &._danger {
    --ripple-hsl: var(--danger-hsl);

    --_clr: var(--danger-hsl);
  }

  &._success {
    --ripple-hsl: var(--success-hsl);

    --_clr: var(--success-hsl);
  }

  &._warning {
    --ripple-hsl: var(--warning-hsl);

    --_clr: var(--warning-hsl);
  }

  &._elevated {
    --_bg-clr: 274, 10%, 20%;

    &._danger {
      --_bg-clr: 0, 10%, 20%;
    }

    &._success {
      --_bg-clr: 118, 10%, 20%;
    }

    &._warning {
      --_bg-clr: 54, 10%, 20%;
    }
  }

  &._filled {
    --ripple-hsl: var(--background-hsl);

    --_clr: var(--on-primary-hsl);
    --_bg-clr: var(--primary-hsl);

    &._danger {
      --ripple-hsl: var(--background-hsl);
      --_clr: var(--on-danger-hsl);
      --_bg-clr: var(--danger-hsl);
    }

    &._success {
      --ripple-hsl: var(--background-hsl);
      --_clr: var(--on-success-hsl);
      --_bg-clr: var(--success-hsl);
    }

    &._warning {
      --ripple-hsl: var(--background-hsl);
      --_clr: var(--on-warning-hsl);
      --_bg-clr: var(--warning-hsl);
    }
  }

  &:disabled {
    --_clr: 274, 30%, 60%;

    cursor: not-allowed;

    &._danger {
      --_clr: 0, 50%, 60%;
    }

    &._success {
      --_clr: 118, 40%, 40%;
    }

    &._warning {
      --_clr: 54, 40%, 40%;
    }

    &._filled {
      --_clr: var(--on-primary-hsl);
      --_bg-clr: 274, 30%, 60%;

      &._danger {
        --_clr: var(--on-danger-hsl);

        --_bg-clr: 0, 50%, 50%;
      }
      &._success {
        --_clr: var(--on-success-hsl);

        --_bg-clr: 118, 30%, 50%;
      }
      &._warning {
        --_clr: var(--on-warning-hsl);

        --_bg-clr: 54, 50%, 50%;
      }
    }

    &[type="submit"] {
      gap: 0.5rem;

      .loader {
        grid-template-columns: 1fr;
      }
    }
  }

  &:focus-visible {
    --_bg-clr: 274, 15%, 25%;
    --_clr: var(--primary-hsl);

    outline: none;

    &._danger {
      --_bg-clr: 0, 15%, 25%;
    }

    &._success {
      --_bg-clr: 118, 15%, 25%;
    }

    &._warning {
      --_bg-clr: 54, 15%, 25%;
    }

    &._filled {
      --_bg-clr: var(--primary-base-hsl), 85%;

      &._danger {
        --_bg-clr: var(--danger-base-hsl), 75%;
      }

      &._success {
        --_bg-clr: var(--success-base-hsl), 60%;
      }

      &._warning {
        --_bg-clr: var(--warning-base-hsl), 70%;
      }
    }

    &._elevated {
      --_bg-clr: 274, 15%, 23%;

      &._danger {
        --_bg-clr: 0, 15%, 23%;
      }

      &._success {
        --_bg-clr: 118, 15%, 23%;
      }

      &._warning {
        --_bg-clr: 54, 15%, 23%;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      --_bg-clr: 274, 15%, 30%;
      --_clr: var(--primary-hsl);

      &._danger {
        --_bg-clr: 0, 15%, 30%;
      }

      &._success {
        --_bg-clr: 118, 15%, 30%;
      }

      &._warning {
        --_bg-clr: 54, 15%, 30%;
      }

      &._filled {
        --_bg-clr: var(--primary-base-hsl), 90%;

        &._danger {
          --_bg-clr: var(--danger-base-hsl), 80%;
        }
        &._success {
          --_bg-clr: var(--success-base-hsl), 75%;
        }
        &._warning {
          --_bg-clr: var(--warning-base-hsl), 80%;
        }
      }

      &._elevated {
        --_bg-clr: 274, 15%, 26%;

        &._danger {
          --_bg-clr: 0, 15%, 26%;
        }
        &._success {
          --_bg-clr: 118, 15%, 26%;
        }

        &._warning {
          --_bg-clr: 54, 15%, 26%;
        }
      }
    }
  }
}

.loader {
  flex-shrink: 0;

  display: grid;
  grid-template-columns: 0fr;

  transition: 300ms ease;

  span {
    overflow: hidden;

    animation: loading 1000ms linear infinite;
  }
}

@keyframes loading {
  from {
    rotate: 0;
  }
  to {
    rotate: -360deg;
  }
}
