.button {
  --_clr: var(--primary-hsl);
  --_bg-clr: transparent;

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: hsla(var(--_clr));
  background-color: hsla(var(--_bg-clr));

  padding: 0.5rem 1.3rem;

  border-radius: 40px;

  transition: 200ms ease;

  svg {
    fill: hsla(var(--_clr));
  }

  &._icon {
    padding: 0.5rem;
  }

  &._elevated {
    --_bg-clr: var(--primary-base-hsl), 70%, 0.15;

    &._danger {
      --_bg-clr: var(--danger-hsl), 0.15;
    }
  }

  &._filled {
    --ripple-hsl: var(--background-hsl);
    --_clr: var(--on-primary-hsl);
    --_bg-clr: var(--primary-hsl);

    &._danger {
      --ripple-hsl: var(--background-hsl);
      --_clr: var(--on-danger-hsl);
      --_bg-clr: var(--danger-hsl);
    }
  }

  &[type="submit"] {
    gap: 0;
  }

  &._danger {
    --ripple-hsl: var(--danger-hsl);

    --_clr: var(--danger-hsl);
  }

  &:disabled {
    --_clr: var(--primary-hsl), 0.5;

    cursor: not-allowed;

    &._danger {
      --_clr: var(--danger-hsl), 0.5;
    }

    &._filled {
      --_clr: var(--on-primary-hsl), 0.8;
      --_bg-clr: var(--primary-hsl), 0.7;

      &._danger {
        --_bg-clr: var(--danger-hsl), 0.7;
      }
    }

    &[type="submit"] {
      gap: 0.5rem;

      .loader {
        grid-template-columns: 1fr;
      }
    }
  }

  &:focus-visible {
    --_bg-clr: var(--primary-hsl), 0.1;

    outline: none;

    &._danger {
      --_bg-clr: var(--danger-hsl), 0.1;
    }

    &._filled {
      --_bg-clr: var(--primary-base-hsl), 75%;

      &._danger {
        --_bg-clr: var(--danger-base-hsl), 75%;
      }
    }

    &._elevated {
      --_bg-clr: var(--primary-base-hsl), 70%, 0.2;

      &._danger {
        --_bg-clr: var(--danger-hsl), 0.2;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(:disabled) {
      --_bg-clr: var(--primary-hsl), 0.1;

      &._danger {
        --_bg-clr: var(--danger-hsl), 0.1;
      }

      &._filled {
        --_bg-clr: var(--primary-base-hsl), 75%;

        &._danger {
          --_bg-clr: var(--danger-base-hsl), 75%;
        }
      }

      &._elevated {
        --_bg-clr: var(--primary-base-hsl), 70%, 0.25;

        &._danger {
          --_bg-clr: var(--danger-hsl), 0.25;
        }
      }
    }
  }
}

.loader {
  flex-shrink: 0;

  display: grid;
  grid-template-columns: 0fr;

  transition: 300ms ease;

  span {
    overflow: hidden;

    animation: loading 1000ms linear infinite;
  }
}

@keyframes loading {
  from {
    rotate: 0;
  }
  to {
    rotate: -360deg;
  }
}
