.sidebar {
  position: sticky;
  top: 1rem;
  left: 0;

  height: 100%;

  flex: 0 1 20rem;

  background-color: hsl(var(--surface-hsl));

  border-radius: var(--medium-shape);

  display: grid;
  gap: 1rem;

  padding: 1.5rem 2rem;
}

.uploader {
  display: grid;
  place-items: center;
}

.info {
  display: grid;
  gap: 0.3rem;
}

.role {
  color: hsl(var(--primary-hsl));
  text-align: center;
  font-weight: 500;
}

.bio {
  font-size: var(--title-l-fs);
  text-align: center;
}

.stats {
  display: grid;
  gap: 2rem;

  hr {
    width: 9rem;
    margin-inline: auto;
    height: 2px;

    background-color: hsl(var(--outline-hsl));
  }

  .list {
    display: grid;
    gap: 1.5rem;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      font-size: var(--body-extra-fs);

      &.success {
        span {
          color: hsl(var(--success-hsl));
        }
      }

      &.danger {
        span {
          color: hsl(var(--danger-hsl));
        }
      }

      span {
        color: hsl(var(--primary-hsl));
      }
    }
  }
}
