.uploader {
  display: grid;

  input {
    width: 0;
    height: 0;

    opacity: 0;

    &:focus ~ label {
      .preview {
        outline: auto;
      }
    }

    &:disabled ~ label {
      cursor: not-allowed;

      .submit {
        svg {
          animation: loading 1000ms linear infinite;
        }
      }
    }
  }

  label {
    position: relative;

    .submit {
      position: absolute;
      bottom: 0;
      right: 0.3em;

      border: 5px solid hsl(var(--surface-hsl));

      &[aria-readonly="true"] {
        pointer-events: none;
      }
    }

    .cancel {
      position: absolute;
      bottom: 0;
      left: 0.3em;

      border: 5px solid hsl(var(--surface-hsl));

      transition: 200ms ease;

      &[aria-hidden="true"] {
        scale: 0;
      }
    }
  }
}

.preview {
  background-color: hsl(var(--outline-hsl));

  border-radius: 50%;

  overflow: hidden;

  max-width: 12.5rem;
  aspect-ratio: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes loading {
  from {
    rotate: 0deg;
  }
  to {
    rotate: -360deg;
  }
}
