.notify {
  --_clr-type: var(--primary-hsl);

  position: fixed;
  bottom: 2rem;
  right: -100%;
  z-index: 10;

  padding: 1rem;

  background-color: hsl(var(--surface-container-hsl));

  border-radius: var(--large-shape);

  max-width: 30rem;

  transition: 600ms ease-in-out;

  &[aria-hidden="false"] {
    right: 2rem;
  }

  &._success {
    --_clr-type: var(--success-hsl);
  }

  &._danger {
    --_clr-type: var(--danger-hsl);
  }

  &._warning {
    --_clr-type: var(--warning-hsl);
  }
}

.wrapper {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;

  &:after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 40px;

    width: 3px;
    height: 100%;

    background-color: hsl(var(--_clr-type));
  }

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    white-space: pre-wrap;
    // font-size: var(--body-m-fs);
    font-size: var(--body-l-fs);

    ._withoutTitle & {
      font-size: var(--body-l-fs);
    }
  }
}

.icon {
  flex-shrink: 0;
  margin-left: 1rem;

  svg {
    fill: hsl(var(--_clr-type));
  }
}

.title {
  color: hsl(var(--_clr-type));

  font-size: var(--body-extra-fs);
  font-weight: 500;
  line-height: 130%;

  margin-bottom: 0.3rem;
}
